/* Normal navbar */
@media (min-width: 768px) {
  .navbar {
    .icon-text {
      display: none;
    }

    .glyphicon {
      top: 5px;
    }

    .avatar {
      top: 17px;
    }

    .octicon {
      margin-top: 4px;
    }

    .navbar-nav>li>a.image-text {
      display: block;
      padding: 5px 0px 0px 0px;
    }
  }




}

/* mobile navbar */
@media (max-width: 767px) {
  .navbar {
    .icon-text {
      display: inline;
      margin-right: 10px;
    }

    .avatar {
      margin-left: 15px;
    }
  }
}