@import 'colors';
@import 'loader';
@import 'navbar';
@import 'board';

body {
  padding-bottom: 10px;
  background-color: @background;
  color: @text;
}

h1, h2, h3, h4, h5, h6 {
  color: @text;
}

.avatar {
  position: relative;
  border-radius: 5px;
}

.panel.panel-small {
  max-width: 50%;
}

.pull-right.less-right {
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.badge-success {
  background-color: @success;
}

.badge-warning {
  background-color: @warning;
}

.badge-error {
  background-color: @error;
}

.glyphicon-succes {
  color: @success;
}

.glyphicon-warning {
  color: @warning;
}

.glyphicon-error {
  color: @error;
}

.center-text {
  text-align: center;
}

.dropdown-menu {
  .clickable;
}

.glyphicon {
  .clickable;
}