body {
  padding-bottom: 10px;
}

.avatar {
  position: relative;
  top: 10px;
  border-radius: 5px;
}

.navbar .avatar {
  top: 17px;
}

.navbar .octicon {
  margin-top: 4px;
}

/* Normal navbar */
@media (min-width: 768px) {
  .icon-text {
    display: none;
  }
}

/* mobile navbar */
@media (max-width: 767px) {
  .icon-text {
    display: inline;
    margin-right: 10px;
  }
}

.panel.panel-small {
  max-width: 50%;
}

.navbar-nav>li>a.image-text {
  display: block;
  padding: 5px 0px 0px 0px;
}

.pull-right.less-right {
  margin-right: 10px;
}

.clickable {
  cursor: pointer;
}

.card-list {
  width: 25%;
  float: left;
}

.card-list .ui-droppable {
  height: 100%;
}

.story-card {
  background-color: #f5f5f5;
  padding: 10px 10px 30px 10px;
  margin: 10px;
  border-radius: 10px;
}

.story-card:hover:not(.fake) {
  background-color: #dfdfdf;
}

.story-card:not(.fake) {
  cursor: pointer;
}

.badge-success {
  background-color: #5cb85c;
}

.badge-warning {
  background-color: #f0ad4e;
}

.badge-error {
  background-color: red;
}