.nav>li>a>img {
  border-radius: 5px;
}

.panel.panel-small {
  max-width: 50%;
}

.navbar-nav>li>a.image-text {
  display: block;
  padding: 5px 0px 0px 0px;
}

.navbar-nav>li>a {
  cursor: pointer;
}