<div class="modal-header">
    <h3 class="modal-title">Manage Members</h3>
</div>

<div class="modal-body">
  <div ng-repeat="member in members">
    <avatar user="{{member}}" tooltip=""></avatar>
    <span tooltip="{{member.username}}">{{member.firstName}} {{member.lastName}}</span>
    <span ng-click="removeMember(member.username)" class="clickable" tooltip="Remove member"><i class="glyphicon glyphicon-remove glyphicon-error"></i></span>
  </div>

  <div>
    <form ng-submit="addMember(newUser.username)">
      <label>Add member</label>
      <input type="input" placeholder="Username" ng-model="newUser.username">
      <input type="submit" class="btn btn-success" value="Add">
    </form>
  </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">Close</button>
</div>