<h1>{{board.name}}</h1>

<div class="card-list">
  <h2 class="text-center">Todo</h2>
  <div ng-repeat="story in board.todo" ng-click="showStory(story)" class="story-card">
    <div>{{story.description}}</div>
    <div class="pull-right badge" ng-class="{'badge-success': doneCount(story) == story.tasks.length, 'badge-warning': doneCount(story) != story.tasks.length}">
      {{doneCount(story)}}/{{story.tasks.length}}
    </div>
  </div>

  <button class="btn btn-success pull-right less-right" ng-click="showAddStory()">Add story</button>
</div>

<div class="card-list">
  <h2 class="text-center">Develop</h2>
  <div ng-repeat="story in board.develop" ng-click="showStory(story)" class="story-card">
    <span>
      <div>{{story.description}}</div>
      <div class="pull-right">{{doneCount(story)}}/{{story.tasks.length}}</div>
    </span>
  </div>
</div>

<div class="card-list">
  <h2 class="text-center">Test</h2>
  <div ng-repeat="story in board.test" ng-click="showStory(story)" class="story-card">
    <div>{{story.description}}</div>
    <div class="pull-right">{{doneCount(story)}}/{{story.tasks.length}}</div>
  </div>
</div>

<div class="card-list">
  <h2 class="text-center">Done</h2>
  <div ng-repeat="story in board.done" ng-click="showStory(story)" class="story-card">
    <span class="clickable">
      <div>{{story.description}}</div>
      <div class="pull-right">{{doneCount(story)}}/{{story.tasks.length}}</div>
    </span>
  </div>
</div>