<h1>{{board.name}}
<div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="showMemberManagement()">Manage members</a></li>
      </ul>
    </div>
</h1>

<div class="sprint-viewer">
  <span class="center-text">
    <span><a class="clickable" href="/#/boards/{{board._id}}/{{sprint.index-1}}" ng-show="canDecrementSprint()"><<</a></span>
    <span>Sprint #{{sprint.index}}</span>
    <span><a class="clickable" href="/#/boards/{{board._id}}/{{sprint.index+1}}" ng-show="canIncrementSprint()">>></a></span>
    <span><a class="clickable" ng-click="showAddSprint()" ng-hide="canIncrementSprint()">+</a></span>
  </span>
  <div>
      {{sprint.startDate | date}}
      <span ng-show="sprint.endDate"> - {{sprint.endDate | date}}</span>
  </div>
</div>

<div ng-repeat="list in sprint.lists">
  <div class="card-list">
    <h2 class="text-center">
      {{list.title}}
      <small>
        <a ng-click="showAddStory()" class="clickable" ng-if="list.title == 'ToDo'">New</a>
      </small>
    </h2>

    <ul ui-sortable="sortableOptions" class="sortable" ng-model="list" id="list-{{list.title}}">
      <div ng-repeat="story in list">
        <li class="story-card item" ng-click="showStory(story)" model="story">
          <div>{{story.description}}</div>

          <div class="pull-left">
            <avatar ng-repeat="member in story.members" user="{{member}}" href=""></avatar>
          </div>
          <div class="pull-right badge"
            ng-class="{'badge-success': doneCount(story) == story.tasks.length,
            'badge-error': doneCount(story) == 0 && story.tasks.length != 0,
            'badge-warning': doneCount(story) != story.tasks.length && doneCount(story) != 0}">

            {{doneCount(story)}}/{{story.tasks.length}}
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>