<h1>{{board.name}}</h1>

<div ng-repeat="list in board.lists">
  <div class="card-list">
    <h2 class="text-center">{{list.title}}</h2>

    <div ng-hide="list.length > 0" class="story-card fake">
      No stories
    </div>

    <div ng-repeat="story in list" ng-click="showStory(story)" class="story-card">
      <div>{{story.description}}</div>
      <div class="pull-right badge"
        ng-class="{'badge-success': doneCount(story) == story.tasks.length,
        'badge-error': doneCount(story) == 0 && story.tasks.length != 0,
        'badge-warning': doneCount(story) != story.tasks.length && doneCount(story) != 0}">

        {{doneCount(story)}}/{{story.tasks.length}}
      </div>
    </div>

    <button class="btn btn-success pull-right less-right" ng-click="showAddStory()" ng-if="list.title == 'Todo'">Add story</button>
  </div>
</div>