<div class="modal-header">
    <h4 class="modal-title">{{story.description}}<small ng-if="story.points"> {{story.points}} pts.</small></h4>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-xs-6">
      <h5>Tasks:</h5>

      <div ng-repeat="task in story.tasks">
        <input type="checkbox" ng-model="task.done" ng-click="toggleDone(task)">
        <span ng-if="!task.isEditing">
          <span>{{task.description}}</span>
          <button class="btn-invisible" ng-click="editTask(task)"><i class="glyphicon glyphicon-edit" tooltip="Edit task"></i></button>
          <button class="btn-invisible" ng-click="removeTask(task)"><i class="glyphicon glyphicon-remove glyphicon-error" tooltip="Remove task"></i></button>
        </span>

        <form ng-if="task.isEditing" ng-submit="saveTaskEdits(task)" class="inline">
          <input type="text" ng-model="task.newDescription">
          <button class="btn-invisible"><i class="glyphicon glyphicon-ok-circle glyphicon-success" tooltip="Save"></i></button>
          <button class="btn-invisible" ng-click="stopEditingTask(task)"><i class="glyphicon glyphicon-remove-circle glyphicon-error" tooltip="Cancel"></i></button>
        </form>
      </div>

      <div>
        <form ng-submit="addTask()">
        <input type="text" placeholder="New task" ng-model="newTask.description">
        <input type="submit" class="btn btn-success" value="Add">
        </form>
      </div>
    </div>


    <div class="col-xs-6">
      <h5>Members:</h5>
      <div ng-repeat="member in story.members">
        <avatar user="{{member}}" tooltip=""></avatar>
        <span tooltip="{{member.username}}">{{member.firstName}} {{member.lastName}}</span>
        <i class="glyphicon glyphicon-remove glyphicon-error" ng-click="removeMember(member.username)" tooltip="Remove member"></i>
      </div>

      <form ng-submit="addMember(newUser.username)">
        <label>Add member</label>
        <input type="text" placeholder="username" ng-model="newUser.username">
        <input type="submit" class="btn btn-success" value="Add">
      </form>

    </div>
  </div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">Close</button>
</div>