<h1 class="header">
  Boards
  <small><a href="/#/boards/create"><i class="glyphicon glyphicon-plus" tooltip="Create board"></i></a></small>
</h1>

<div ng-show="boards.length == 0">Nothing here yet</div>

<div ng-repeat="board in boards" width="50px">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/#/boards/{{board._id}}">{{board.name}}</a>
      </div>
      <div class="panel-body">

        <div>
          {{board.description}}
        </div>

        <div>
          <avatar ng-repeat="member in board.members" user="{{member}}">
          </avatar>
        </div>

      </div>
    </div>
  </div>
</div>